/.idea/
/.idea/*
/.tscache/
/.sass-cache/
/node_modules/
/client/node_modules/
/client/.awcache
/debugFinamatic.sh
/logs/
/uploads
/dump/
/dumpScrap/
/localDebug.sh
/public/config.codekit
/db/
/public/ts/typings/**/*
/public/css/style-admin.*
/public/js/dist/
/public/js/dist/**/*
/public/css/style.*
/coverage/
exportKPIs.lock
public/.DS_Store
**/.DS_Store
/known_hosts
/id_rsa_finamatic
/id_rsa_finamatic.pub
/npm-debug.log
/.ssl
*.tmp.txt
*.exe
*.dll
*.fdf
*.old
*.map
*.log
/public/ts/package-lock.json

# Ignored typescript output files
/dist/
/api/**/*.js
/bin/**/*.js
/client/**/*.js
!/client/.storybook/**/*.js
/client/locales/**/*.js
/commands/**/*.js
/config/env/**/*.js
/lib/data/**/*.js
/lib/renderer/**/*.js
/public/ts/**/*.js
/managers/**/*.js
/schemas/**/*.js
/test/**/*.js
/types/**/*.js

# specific files
!babel.config.js
/lib/apientreprise.js
/lib/apiip.js
/lib/utils.js
/public/js/min
!/client/third/stickit/*.js
.history
/public/assets/css/core.min.css
/public/assets/js/core.min.js
/public/assets/js/finamatic.js

*.snap
